.helm-app-root {
  background: var(--helm-ui-color-bg);
  color: var(--helm-ui-color-text);
  font-family: var(--helm-ui-font-family);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.helm-fullscreen .helm-app-root {
  min-height: 100dvh;
}
