/vendor/
/vendor/vendor-prefixed/
node_modules/
/build/
/tmp/
/tests/_output/
/tests/Support/_generated/*
!/tests/Support/_generated/.gitkeep
/coverage/
.idea
*.cache
.phpunit.cache
.phpunit.result.cache
artifacts
bin/strauss.phar
docs/plans/.wip/
